/* Header  */

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 60px;
  border-bottom: 1px solid $color__solid-border;
  position: fixed;
  background-color: rgba(250,250,250,0.9);
  z-index: 1;
}

.hero-page-header {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  .main-navigation {
    a, .fa-search {
      color: white;
      &:hover {
        color: $color__yellow-brand;
      }
    }
    .header-search input {
      background-color: transparent;
      color: white;
    }
  }
  .site-branding a {
    color: white;
  }
  .site-branding .tent-logo {
    background-image: url('../../images/inhabitent-logo-tent-white.svg');
  }
}


.main-navigation {
  display: flex;

  .fa-search {
    color: $color__teal-brand;
    margin-top: 5px;
    &:hover {
      cursor: pointer;
    }
  }

  .header-search input {
    border: 0;
    background-color: rgba(250,250,250,0.9);
    line-height: 1;
    text-transform: uppercase;
    font-size: 0.8em;
    width:150px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    &:focus {
      outline: none;
    }
  }

  .header-search {
    animation-name: slidein;
    animation-duration: 1s;
    @keyframes slidein {
      from {
        width: 0;
      }
    
      to {
        width:150px;
      }
    }
  }

  .header-display {
    display: none;
  }
  
  li a {
    padding-left: 15px;
    padding-right: 15px;
    color: $color__teal-brand;
    font-family: 'Novecento', sans-serif;
    text-transform: uppercase;
  }
  li a:hover {
    color: #404040;
  }
}

.site-branding .tent-logo {
  background-image: url('../../images/inhabitent-logo-tent.svg');
  width: 50px;
  background-size: contain;
  height: 40px;
  background-repeat: no-repeat;
}

header img {
  width: 50px;
}