/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

//--------------------------------------------------------------
/* Find Us Page */


.page-template-default {
  .site-content {
    display: flex;
    flex-direction: row;

    h1 {
      text-align: left;
      font-weight: bold;
      padding-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 2.4em;
    }

    h2 {
      font-family: $font__novecento;
      color: $color__purple-brand;
      font-size: 2em;
      font-weight: bold;
      }

    .site-main {
      padding: 50px 20px 0 80px;
      // padding-left: 80px;
      // padding-right: 20px;
      // padding-top: 50px;
    }
  }

  .content-area {
    width: 890px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: $font__merriweather;
  } 

  a {
    color: $color__teal-brand;
    text-decoration: none;
    &:hover {
      color: $color__purple-brand;
    }
  }

  label {
    text-transform: uppercase;
    span {
      color: $color__orange-brand;
    }
  }
  
  .wpcf7 input, textarea {
    margin-top: 10px;
    background-color: #f4f4f4;
    border-radius: 0;
    border-color: $color__solid-border;
  }

  .wpcf7 .wpcf7-submit {
    background-color: $color__teal-brand;
    border: 1px solide $color__teal-brand;
    text-shadow: none;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 12px 20px;
    margin: 0;
    margin-bottom: 90px;

    &:hover {
      background-color: darken($color__teal-brand, 10%);
      box-shadow: none;
    }
  }

}




//------------------------------------------------------------
/* Journal Page, archive journal pages  */ 

.blog .content-area, .archive .site-content {
  display: flex;
  flex-direction: row;
  font-family: $font__merriweather;

  article {
    width: 750px;
  }

  .site-main {
    width: 890px;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    .page-title {
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid $color__solid-border;
      margin-right: 40px;
      margin-bottom: 0;
    }
  }
  h2 {
    font-family: $font__novecento;
    color: $color__purple-brand;
    font-size: 2em;
    font-weight: bold;
    }

  a {
    color: $color__teal-brand;
    text-decoration: none;
    &:hover {
      color: $color__purple-brand;
    }
  }

  a.journal-button {
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-family: $font__novecento;
    text-transform: uppercase;
  
    &:hover {
      background-color: $color__teal-brand;
      border-color: $color__teal-brand;
      color: white;
    }
  }


  .entry-header {
    width: 750px;
    position: relative;
    margin-top: 80px;

    .entry-title {
      position: absolute;
    }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: $font__merriweather;
}

.entry-header {
  width: 750px;
  position: relative;
  color: white;

  img {
    width: 100%;
  }

  .entry-title {
    position: absolute;
    top: 0px;
    background-color: $color__teal-brand;
    padding: 10px 20px;
    max-width: 550px;
    font-size: 2.5em;
    line-height: 1;

    a {
      color: white;

      &:hover {
        color: $color__yellow-brand;
      }
    }
  }

  .entry-meta {
    position: absolute;
    bottom: 8px;
    right: 0px;
    background-color: $color__teal-brand;
    padding: 3px 10px;
    text-transform: uppercase;
    font-family: $font__novecento;
  }
}
}


//----------------------------------------------------------
/* Shop Page  */

.post-type-archive .site-content .site-main {
  width: 100vw;
  padding: 0;
  h1.page-title {
    border: 0;
    margin: 0;
    text-align: center;
    font-family: $font__novecento;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.shop-page-grid {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1120px;
  flex-wrap: wrap;
  margin: 10px 30px;
  border-top: 1px dashed $color__dashed-border;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;

  .shop-page-item {
    width: 260px;
    height: 310px;
    border: 1px solid $color__solid-border;
    overflow: hidden;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 80px;
    }

    img {
      height: 260px;
      max-width: none;
      position: relative;
      right: 22px;
      border-bottom: 5px solid $color__solid-border;
    }
    p {
      margin: 0;
      font-family: $font__merriweather;
      &.product-dots {
        width: auto;
        overflow: hidden;
      }
      &.product-title {
        width: auto;
        white-space: nowrap;
      }
    }
    .product-price-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 15px;
      margin-right: 15px;
      max-width: 230px;
    }
  }
}

.post-type-archive {
  .page-title {
    color: $color__main-font;
    font-weight: bold;
    font-size: 2.2em;
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 0;
  }

  ul.shop-links {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;

    li {
      list-style-type: none;
      display: inline-block;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
      font-family: $font__novecento;
      font-size: 1.1em;
  
      a {
        color: $color__teal-brand;
        text-decoration: none;
  
        &:hover {
          color: $color__main-font;
        }
      }
    }
  }
}



//---------------------------------------------------------
/* About Page  */

.page-template-about {
  h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    color: $color__purple-brand;
    font-family: $font__novecento;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
  }

  .entry-content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 70px;

    p {
      font-family: $font__merriweather;
    }
  }

}

//---------------------------------------------------------------
/* Single Journal Post Page  */

.single-post .site-content {
  display: flex;
  flex-direction: row;
  font-family: $font__merriweather;

  article {
    width: 750px;
  }

  .site-main {
    width: 890px;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .entry-header {
    width: 750px;
    position: relative;
    color: white;
  
    img {
      width: 100%;
    }
  
    .entry-title {
      position: absolute;
      top: 0px;
      background-color: $color__teal-brand;
      padding: 10px 20px;
      max-width: 550px;
      font-size: 2.5em;
      line-height: 1;
      font-weight: bold;
      text-align: left;
      font-family: $font__novecento;
    }
  
    .entry-meta {
      position: absolute;
      bottom: 8px;
      right: 0px;
      background-color: $color__teal-brand;
      padding: 3px 10px;
      text-transform: uppercase;
      font-family: $font__novecento;

      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $color__yellow-brand;
        }
      }
    }
  }

  .entry-footer {
    font-family: $font__novecento;
    font-size: 1.05em;
    span {
      padding-right: 20px;
      a {
        color: $color__teal-brand;
        text-decoration: none;
        &:hover {
          color: $color__purple-brand;
        }
      }
    }
  }

  .comments-area {
    .comments-title {
      color: $color__purple-brand;
      font-family: $font__novecento;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
    }

    .comment-author-avatar img {
      border-radius: 50px;
    }
  }

  .comment-list {
    margin: 0;
    padding: 0;

    .children li {
      border-top: 1px solid $color__solid-border;
      padding-top: 30px;
    }

    &>li {
      border-bottom: 1px solid $color__solid-border;
    }

    .comment-body {
      display: flex;
      flex-direction: row;
    }
    .fn {
      font-weight: bold;
      font-style: normal;
    }
    .comment-content {
      padding-left: 20px;
      padding-bottom: 20px;
      a {
        color: $color__teal-brand;
        text-decoration: none;
        &:hover {
          color: $color__purple-brand;
        }
      }
    }
    .comment-metadata {
      color: $color__mediumgrey-brand;
    }
  }

  h3.comment-reply-title {
    font-family: $font__novecento;
    font-size: 2em;
    letter-spacing: 1px;
    margin: 20px 0;
  }

  .comment-respond {
    label {
      font-family: $font__novecento;
      text-transform: uppercase;
      font-size: 1.1em;
    }
  }

  .comment-form {
    display: grid;
    width: 750px;
    grid-template-rows: 40px 250px 90px 90px 1fr;
    grid-template-columns: 1fr 1fr;

    p {
      grid-column: 1/3;
      margin: 0;
    }

    p.logged-in-as a {
      text-decoration: none;
      color: $color__teal-brand;
      &:hover {
        color: $color__purple-brand;
      }
    }

    .loggin-in-as ~ p {
      grid-row: 3;
    }

    .comment-form-comment {
      grid-column: 1/3;
      grid-row: 2;
    }
    .comment-form-author {
      grid-column: 1;
      grid-row: 3;
      label {
        display: block;
      }
      input {
        width: 90%;
      }
    }
    .comment-form-email {
      grid-column: 2;
      grid-row: 3;
      label {
        display: block;
      }
      input {
        width: 100%;
      }
    }
    .comment-form-url {
      grid-column: 1/3;
      grid-row: 4;
      label {
        display: block;
      }
      input {
        width: 100%;
      }
    }
    .form-submit {
      grid-column: 1/3;
      grid-row: 5;
      input {
        background-color: $color__teal-brand;
        box-shadow: none;
        text-shadow: none;
        border: 1px solid $color__teal-brand;
        color: white;
        text-transform: uppercase;
        font-size: 0.8em;
        padding: 12px 20px;
        &:hover {
          background-color: darken($color__teal-brand, 10%);
        }
      }
    }

    textarea {
      background-color: #f4f4f4;
      border-radius: 0;
    }
    input {
      background-color: #f4f4f4;
      border-radius: 0;
    }
    .required {
      color: $color__orange-brand;
    }
    }
  }

  .social-media-button {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid black;
    padding: 12px 25px;
    border-radius: 0;
    box-shadow: none;
    font-size: 0.85em;

    &:hover {
      color: white;
      background-color: $color__teal-brand;
      border-color: $color__teal-brand;
      text-shadow: none;
      box-shadow: none;
    }
  }

  //over-riding submit button on loggin-in status page for comments
  .logged-in.single-post .site-content .comment-form .form-submit {
    grid-row: 3;
  }


//------------------------------------------------------------------
/* Shop type pages (Do,eat,sleep,etc) */

.tax-product_type {
  .site-content .site-main {
    width: 100vw;
    padding: 0;
  }
  h1 {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 2.4em;
    text-align: center;
    text-transform: uppercase;
    font-family: $font__novecento;
    letter-spacing: 1px;
  }
  .taxonomy-description {
    text-align: center;
    p {
      margin-top: 0;
      margin-bottom: 40px;
      font-family: $font__merriweather; 
    }
  }
}

//--------------------------------------------------------------------
/* Single Product page */

.single-product {
  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 100px;

    h1 {
      margin: 0;
      text-align: left;
      color: $color__orange-brand;
      font-weight: bold;
      line-height: 1.25;
      text-transform: uppercase;
      padding-bottom: 0;
      letter-spacing: 1.5px;
      font-size: 2.2em;
    }

    h3 {
      font-weight: normal;
      font-size: 1.8em;
      margin: 0;
      margin-top: 10px;
      font-family: $font__novecento;
    }

    img {
      width: 500px;
      margin-right: 20px;
    }

    .entry-content {
      width: 600px;
      margin-top: 0;
      margin-left: 20px;

      p {
        font-family: $font__merriweather;
      }
    }

    .social-media-button {
      text-transform: uppercase;
      background-color: white;
      border: 1px solid black;
      padding: 12px 25px;
      border-radius: 0;
      box-shadow: none;
      font-size: 0.85em;
  
      &:hover {
        color: white;
        background-color: $color__teal-brand;
        border-color: $color__teal-brand;
        text-shadow: none;
      }
    }
  }
}

//------------------------------------------------------------------
/* Single Adventures Page */

.adventures-template-default {
  .adventure-header img {
    height: 100%;
    width: 100%;
  }

  .adventure-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    p {
      font-family: $font__merriweather;
    }
  }

  .entry-title {
    text-align: left;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-weight: bold;
    font-size: 2.3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font__novecento;
  }

  h4 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.1em;
  }

  .social-media-links {
    margin-bottom: 80px;
  }
}

//--------------------------------------------------------------------
/* Archive Adventures Page */

.archive-adventures .archive-adventures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px dashed $color__dashed-border;
  padding-top: 50px;
  margin-bottom: 80px;

  h2 {
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 10;
    a {
      border: none;
      text-transform: none;
      font-family: $font__merriweather;
      padding: 0;
      color: white;
      font-weight: normal;
      font-size: 1.5em;
      line-height: 1.3;
      &:hover {
        color: $color__yellow-brand;
        background-color: transparent;
        border: none;
      }
    }
  }

  .archive-adventure-grid-part {
    position: relative;
    height: 500px;

    &::after {
      background: rgba(0,0,0,0.3);
      content: "";
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .read-more-button {
      position: absolute;
      top: 200px;
      margin-left: 20px;
      padding: 10px 20px;
      border: 1px solid white;
      font-family: $font__novecento;
      text-transform: uppercase;
      color: white;
      z-index: 10;
      &:hover {
        background-color: $color__teal-brand;
        border-color: $color__teal-brand;
      }
    }
  }
}

.post-type-archive-adventures {
  .page-header {
    margin-top: 100px;
    h1 {
      font-weight: bold;
      padding: 0;
      text-align: center;
      font-family: $font__novecento;
      text-transform: uppercase;
      font-size: 2.5em;
    }
  }
}