//---------------------------------------------------------
/* Search form */

.header-search fieldset {
  border: none;
  padding: 0;

  input.search-field {
    background-color: white;
    border-radius: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;
    font-family: $font__novecento;
  }
}

fieldset {
  border: none;
  padding: 0;
}
input.search-field {
  font-family: $font__merriweather;
  background-color: #f4f4f4;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

//--------------------------------------------------------
/* Search results */

.search-results, .search-no-results {
  .site-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }
  .page-header {
    margin: 0;
    padding-top: 60px;
    margin-right: 40px;
    border-bottom: 1px solid $color__solid-border;
    h1 {
      font-weight: bold;
      text-align: left;
      font-size: 2.5em;
      letter-spacing: 1px;
      padding: 0;
      text-transform: uppercase;
      font-family: $font__novecento;
    }
  }
  .content-area {
    width: 890px;
    padding-left: 80px;
    padding-right: 20px;
  }

  .entry-title {
    margin-top: 10px;
    margin-bottom: 0; 
    font-size: 3em;
  }

  .entry-header a {
    color: $color__teal-brand;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font__novecento;
    font-weight: bold;
    font-size: 0.8em;
    &:hover {
      color: $color__purple-brand;
    }
  }

  article {
    margin-right: 40px;
    .entry-summary {
      font-family: $font__merriweather;
    }
  }

  a.journal-button {
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-family: $font__novecento;
    text-transform: uppercase;
    text-decoration: none;
  
    &:hover {
      background-color: $color__teal-brand;
      border-color: $color__teal-brand;
      color: white;
    }
  }
}